.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: var(--transition);
  padding: 20px 0;
  background-color: var(--background-color);
}

.navbar.scrolled {
  background-color: var(--background-color);
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo button {
  background: none;
  border: none;
}

.logo-image {
  height: 80px;
  width: auto;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-menu li button {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secondary-color);
  transition: var(--transition);
  position: relative;
  padding: 5px 0;
}

.nav-menu li.active button {
  color: var(--secondary-color);
}

.nav-menu li button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.nav-menu li.active button::after,
.nav-menu li button:hover::after {
  width: 100%;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 1100;
}

.hamburger span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 3px;
  transition: all 0.3s ease;
  z-index: 1100;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    background-color: #222321;
    width: 70%;
    height: 100vh;
    padding: 80px 30px 30px;
    gap: 25px;
    transition: all 0.4s ease;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu li {
    width: 100%;
  }

  .nav-menu li button {
    width: 100%;
    text-align: left;
    padding: 10px 0;
    font-size: 1.1rem;
  }
}
